
# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Virtual Environment
venv/
.venv/
env/
.env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific data files (Excel files usually contain data)
*.xlsx
*.csv

# Exceptions (Files to keep in repo)
!sample_input.xlsx
!mapping.xlsx

# =========================
# Frontend (Node.js / React)
# These rules apply to the 'frontend/' directory as well
# =========================

# Dependencies
frontend/node_modules
frontend/.vite
frontend/.npm/
frontend/.yarn/

# Production build
dist/
dist-ssr/

# Testing
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Frontend local env files
.env.local
.env.*.local
